table#foot.layout(width="100%" cellspacing="0" cellpadding="0")
  tbody
    tr
      td(colspan="3")
        table(width="100%" cellpadding="0" cellspacing="0" itemscope="" itemtype="http://schema.org/ElectronicsStore")
          tbody
            tr
              td(width="17%")
                p.tx11(itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress")
                  b Офис м. Водный стадион
                  br
                  span(itemprop="postalCode") 125130
                  | , г. 
                  span(itemprop="addressLocality") Москва
                  | ,
                  br
                  span(itemprop="streetAddress")
                    | ул.
                    | Выборгская, 22 стр. 3
                  br
                  noindex
                    a(href="https://www.xcom-shop.ru/pages/contacts/#dopsklad" rel="nofollow")
                      | Схема
                      | проезда
              td(width="17%")
                p.tx11
                  b Оформление заказа:
                  br
                  span(itemprop="telephone") 8 (495) 799-96-69
                  br
                  span(itemprop="telephone") 8 (800) 200-00-69
                  br
                  span.color_gray(itemprop="openingHours" datetime="Mo-Fr 9:00-21:00")
                    | с 9.00
                    | до 21.00 в будни;
                  br
                  span.color_gray(itemprop="openingHours" datetime="Sa-Su 10:00-18:00")
                    | с 10.00
                    | до 18.00 в выходные.
                  br
                  span.color_gray Через сайт — круглосуточно.
              td(width="18%")
                p.tx11
                  b Отдел региональной доставки:
                  br
                  |                   8 (495) 799-96-69
                  br
                  span.color_gray с 9.00 до 18.00 в будни.
                  br
              td(width="18%")
                p.tx11
                  b Отдел приема рекламаций:
                  br
                  |                   8 (495) 799-96-69
                  br
                  span.color_gray с 09.00 до 19.00 в будни;
                  br
                  span.color_gray с 10.00 до 18.00 в субботу.
              td
            tr
              td
                p.tx11
                  | © «
                  span(itemprop="name") Xcom-shop
                  | »
                  br
                  a(href="https://www.xcom-shop.ru/" itemprop="url" style="display:none;") www.xcom-shop.ru
                  a(href="https://m.xcom-shop.ru/?allways=1") Мобильная версия
              td
                noindex
                  p.tx11
                    a(href="https://www.xcom-shop.ru/pages/about/" rel="nofollow") О компании
                    br
                    a(href="https://www.xcom-shop.ru/pages/about/" rel="nofollow") Партнеры
                    br
                    a(href="https://www.xcom-shop.ru/pages/contacts/" rel="nofollow") Контактная информация
                    br
                    a(href="https://www.xcom-shop.ru/pages/jobs/" rel="nofollow" target="_blank") Вакансии
              td
                noindex
                  p.tx11
                    a(href="https://www.xcom-shop.ru/sitemap/" rel="nofollow") Каталог товаров
                    br
                    a(href="https://www.xcom-shop.ru/pages/payment/" rel="nofollow") Методы оплаты
                    br
                    a(href="https://www.xcom-shop.ru/pages/warranty/" rel="nofollow") Гарантия на товары
                    br
                    a(href="https://www.xcom-shop.ru/pages/delivery/" rel="nofollow") Доставка
                    |  (Москва, МО,
                    |                     Регионы)
              td(colspan="2")
                b.tx11 Способы оплаты
                #pay_icons
                  img(src="./static/foot_sb.gif")
                  img(src="./static/foot_thx.gif")
                  img(src="./static/foot_visa.gif")
                  img(src="./static/foot_mc.gif")
                  img(src="./static/foot_wm.gif")
                  img(src="./static/foot_ym.gif")
                  img(src="./static/foot_pp.gif")
                  img(src="./static/foot_mir.gif")
                  img(src="./static/foot_credit.png")
                a(href="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2508/*https://grade.market.yandex.ru/?id=704&action=link")
                  img(src="./static/saved_resource(1)" border="0" width="88" height="31" alt="Читайте отзывы покупателей и оценивайте качество магазина www.xcom-shop.ru на Яндекс.Маркете" hidden="" style="display: none !important;")
            tr
              td  
              td#counters(colspan="5")
