.catalog-nav,
#content,
#right_column,
.block-universal,
#foot {
    display: none;
}

/* Redesign style */

.mob {
    display: none;
}

/* Шапка */

.common-header .container {
    padding: 20px 50px;
    max-width: 1800px;
    margin: 0 auto;
}

.common-header__group > .common-header__row > .item_left {
    width: 20%;
}

.common-header__group > .common-header__row > .item_center {
    width: 50%;
}

.common-header__group > .common-header__row > .item_right {
    width: 30%;
}

.common-header__row {
    display: table;
}

.common-header__row > .item {
    display: table-cell;
    vertical-align: top;
}

.common-header .item_left {
    text-align: left;
}

.common-header .item_right {
    text-align: right;
}

.common-header .item_center {
    text-align: center;
}

/* Строка */

.common-header__row {
    display: table;
    width: 100%;
}

.common-header__row > .item {
    display: table-cell;
}

/* Информация в шапке */

.common-header__info {
    display: table;
    width: 100%;
    color: #666666;
    line-height: 18px;
    font-size: 13px;
}

.common-header__info > .item_left {
    width: 33%;
}

.common-header__info > .item_right {
    width: 66%;
}

.common-header__info-time {
    position: relative;
    padding-left: 18px;
}

.common-header__info-time:before {
    content: '';
    background: url(images/header-icons.png) no-repeat -20px -32px;
    content: '';
    display: block;
    height: 14px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 14px;
}

.common-header__info-feedback:before {
    content: '';
    background: url(images/header-icons.png) no-repeat 0 -32px;
    height: 14px;
    width: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;
}

/* Контакты */

.common-header__contacts {
    width: 100%;
    display: table;
}

.common-header__contacts > .item {
    display: table-cell;
}

/* Пользователь */

.common-header__user {
    text-align: right;
}

/* Мобильная кнопка */

.common-header__mobile {
    margin-bottom: 10px;
}


/* Логотип */

.logo__link {
    display: block;
    margin-bottom: 5px;
}

.logo__link img {
    display: block;
}

.logo__text {
    display: block;
}

.logo__text a {
    white-space: nowrap;
    font-size: 11px; 
    color: #000;
}

/* Меню */

.menu ul {
    list-style-type: none;
    margin: 0;
}

.menu ul li {
    margin: 0;
}

/* Меню городов */

.menu_city li {
    padding-left: 14px;
    position: relative;
}

.menu_city li a {
    font-size: 13px;
    color: #666;
    text-decoration: underline;
}

.menu_city li span {
    color: #0069ab;
    font-size: 14px;
}

.menu_city li.active:before {
    content: '';
    width: 11px;
    height: 11px;
    position: absolute;
    left: 0;
    top: 3px;
    background: url('images/header-icons.png') no-repeat -80px -32px;
}

/* Основное меню */

.menu_common ul {
    text-align: justify;
    font-size: 1px;
}

.menu_common ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.menu_common li {
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 32px;
    position: relative;
    white-space: nowrap;
}

.menu_common li a {
    font-size: 16px;
    border-bottom: 1px solid #989898;
    color: black;
    text-decoration: none;
    display: block;
}

.menu_common li a:hover {
    border-bottom-color: transparent;
}

.menu_common li:before {
    content: '';
    background: url(images/header-icons.png) no-repeat 9999px 9999px;
    content: '';
    display: inline-block;
    height: 32px;
    left: 0;
    position: absolute;
    top: -6px;
    width: 32px;
}

.menu_common li.delivery:before {
    background-position: 0 0;   
}

.menu_common li.contacts:before {
    background-position: -32px 0;
}

.menu_common li.payment:before {
    background-position: -64px 0;
}

.menu_common li.warranty:before {
    background-position: -96px 0;
}

.menu_common li.about:before {
    background-position: -128px 0;
}

.menu_common li.forum:before {
    background-position: -160px 0;
}

.menu_common li.hobby-blog:before {
    background-position: -192px 0;
}
 
/* Ссылки */

.link {

}

.link:hover {
    text-decoration: none;
}

.link_phone {
    font-size: 22px;
    color: #0069ab;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.link_social {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

.link_social img {
    display: block;
}

.link_mobile {
    font-size: 13px;
    color: #0069ab;
    position: relative;
    padding-left: 14px;
    display: inline-block;
}

.link_mobile:before {
    content: '';
    background: url(images/header-icons.png) no-repeat -60px -32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 9px;
    height: 13px;
}

.link_auth {
    font-weight: bold;
}

/* Пользователь */

.user_mini {
    font-size: 13px;
}

.user_mini .user__balls {
    color: #008000;
    margin-top: 15px;
}

.user_mini .user__sign {
    white-space: nowrap;    
    display: inline-block;
    width: 162px;
    text-align: left;
}

@media screen and (max-width: 1023px){



}