#action_tiles {margin-right: -15px; margin-bottom: 5px;}
#action_tiles p {font-family: Arial, serif;}
#action_tiles .wrap {margin: 0px 15px 15px 0px;float: left;position: relative;}
#action_tiles .bubble, #action_tiles .item {width: 230px; height: 230px;}
#action_tiles .item
{
	background: #2667a7;
	/* -webkit-border-radius: 4px; */
	/* -moz-border-radius: 4px; */
	/* border-radius: 4px; */
	position: relative;
}
#action_tiles .bubble, #action_tiles .item {position: relative; text-align: center;}

#action_tiles .item img {
	margin: auto;
	position: absolute;
	left: 6px;
	top: 6px;
	bottom: 36px;
	right: 6px;
	z-index: 1;
}
#action_tiles .item.none img {
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

#action_tiles .item.action img,
#action_tiles .item.special-offer img {
	/* -webkit-border-radius: 4px; */
	/* -moz-border-radius: 4px; */
	/* border-radius: 4px; */
}

#action_tiles .price .line-0 {position: absolute; left:6px;top:12px; font-weight: bold; text-align: center; width: 218px;}
#action_tiles .price .line-1 {position: absolute; left:6px;top:28px; text-align: center; width: 218px;}
#action_tiles .price .line-2 {position: absolute; right:0;top:150px; text-align: right; font-size: 13px; margin-right: 20px; text-decoration: line-through; background-color: #ffffff}
#action_tiles .price .line-3 {position: absolute; left:6px;top:166px; text-align: center; font-size: 18px; color: #ff8400; width: 218px;}

#action_tiles .xpert .line-0 {position: absolute; left:6px;top:12px; font-weight: bold; text-align: center; width: 218px;}
#action_tiles .xpert .line-1 {position: absolute; left:6px;top:28px; text-align: center; width: 218px;}
#action_tiles .xpert .line-2 {position: absolute; right:6px;top:166px; font-size: 16px; font-weight: bold; text-align: center; width: 150px;}
#action_tiles .xpert .line-3 {position: absolute; left:6px;top:158px; font-size: 0; text-align: center; width: 218px;}

#action_tiles .leader .line-0 {position: absolute; left:6px;top:12px; font-weight: bold; text-align: center; width: 218px;}
#action_tiles .leader .line-1 {position: absolute; left:6px;top:28px; text-align: center; width: 218px;}
#action_tiles .leader .line-2 {position: absolute; right:6px;top:166px; font-size: 16px; font-weight: bold; text-align: center; width: 150px;}

#action_tiles .new .line-0 {position: absolute; left:6px;top:12px; font-weight: bold; text-align: center; width: 218px;}
#action_tiles .new .line-1 {position: absolute; left:6px;top:28px; text-align: center; width: 218px;}
#action_tiles .new .line-2 {position: absolute; right:6px;top:166px; font-size: 16px; font-weight: bold; text-align: center; width: 160px;}

#action_tiles .none {background: none;}

.xpert .tile-logo {
    background: url("../site/images/action_tiles/xpert.png") no-repeat 0 157px;
}

.price .tile-logo {
    background: url("../site/images/action_tiles/price.png") no-repeat 0 157px;
}

.leader .tile-logo {
    background: url("../site/images/action_tiles/leader.png") no-repeat 0 157px;
}

.new .tile-logo {
    background: url("../site/images/action_tiles/new.png") no-repeat 0 157px;
}

.action .tile-logo {
    background: url("../site/images/action_tiles/action.png") no-repeat 0 157px;
}

.special-offer .tile-logo {
    background: url("../site/images/action_tiles/special.png") no-repeat 0 177px;
}

.tile-logo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

/* INSERT NEW STYLE Server */


#action_tiles {
	/* height: 540px; */
}

/* #action_tiles > p {
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 100%;
}*/

.action_tiles__wrap {
	position: relative;
	height: 250px;
	overflow: auto;
	margin-right: 20px;
}

.action_tiles__carousel {
	white-space: nowrap;
	position: absolute;
	left: 0;
	top: 0;
}

.action_tiles__item {
	display: inline-block;
	vertical-align: top;
	white-space: normal;
}

#action_tiles {
	position: relative;
}

.action_tiles-left {
	content: '';
	width: 60px;
	position: absolute;
	left:0;
	top: 0;
	bottom: 60px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
	z-index: 10;
	opacity: 0;
	/* -webkit-transition: all .2s; */
	/* transition: all .2s; */
}

.action_tiles-right {
	content: '';
	width: 60px;
	position: absolute;
	right: 20px;
	top: 0;
	bottom: 60px;
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
	z-index: 10;
	opacity: 0;
	/* -webkit-transition: all .2s; */
	/* transition: all .2s; */
}

#action_tiles.active_left .action_tiles-left {
	opacity: 1;
}

#action_tiles.active_right .action_tiles-right {
	opacity: 1;
}

#action_tiles.disabled .action_tiles__left,
#action_tiles.disabled .action_tiles__right {
	display: none;
}


#action_tiles .wrap .item:not(.none) {
    background: #2667a7;
}

#action_tiles .wrap .item.none > a {
	position: relative;
	z-index: 2;
	display: block;
	width: 100%;
	height: 100%;
}

#action_tiles .wrap .item.none .tile-logo {
	background: none;
	opacity: 0;
}

#action_tiles .wrap .item:not(.none) .item__img {
	margin: auto;
	position: absolute;
	left: 2px;
	top: 2px;
	bottom: 36px;
	right: 2px;
	display: block;
	border-radius: 0;
	overflow: hidden;
	background: #fff;
}

#action_tiles .wrap .item:not(.none) .item__img:after {
	/* content: ''; */
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	box-shadow: inset 0 0 10px 0 #0081c2;
	position: absolute;
}

#action_tiles .wrap .item:not(.none) .item__img img {
	position: static;
	/* -webkit-transition: all .3s;
	transition: all .3s; */
}

#action_tiles .wrap .item:not(.none) .item__img img,
#action_tiles .wrap .item:not(.none) .item__img:before {
	display: inline-block;
	vertical-align: middle;
	margin-right: -3px;
}

#action_tiles .wrap .item:not(.none) .item__img:before {
	content: '';
	width: 0;
	height: 100%;
}

/* #action_tiles .wrap .item:hover img {
	transform: scale(1.1);
} */

.action_tiles__divider {
	width: 100%;
	display: block;
	clear: both;
}

.action_tiles__divider:after,
.action_tiles__divider:before {
	content: '';
	display: table;
	clear: both;
}
