doctype html
html(lang="ru")
    head
      include ../chunks/head.pug
    body
      #main
        include ../chunks/header.pug
        block content
        block footer
        include ../chunks/footer.pug
        